<!DOCTYPE html>
<html>
	<head>
    <title align="center">IQPoint</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_page.css">
    <link href='static/css/simplesidebar.css' rel='stylesheet' type='text/css'>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>
		{{{body}}}
	<footer class="navbar-fixed-bottom">
		<div class="footer-right">
			<div class="col-xs-1 developers"><a href="/#">developers</a></div>
			<div class="col-xs-1 copyright"><a href="/#">copyright</a></div>
			<div class="col-xs-1 disclaimer"><a href="/#">disclaimer</a></div>
	<div class="footer-left">
				<div class="col-xs-2">Powered by <a href="http://www.projectcodex.co">CodeX</a></div>
			</div>
		</footer>

		<script src="static/js/handlebars.js"></script>

</body>



</html>