
<div>
<h1 class="text-center">Add a customer</h1>

<div class="container">
	{{#data}}
	<form class="col-sm-4 col-sm-offset-4" action="/customer/add_customer" method="POST">
		Account: <input type="text" name="Account" value="{{Account}}"><br>	
		Name: <input type="text" name="Name" value="{{Name}}"><br><br>
		<input type="submit" class="btn btn-warning btn-lg" value="Save"><br>
	</form>
	{{/data}}
   
</div>
<dive>
