
  <div class="background">

  <div class="midground">
    <div class="tuna"></div>
         <a href="/login" class="btn btn-default"><span class="fa fa-user"></span><strong> Local Logout</strong></a>
        <a href="admin_panel" class="btn btn-default"><strong>Admin Settings</strong></a>
  
    <a href="/"><h1 align="center">IQPoint Customers Transaction</h1></a>
  <!--main-container div encases the buton and the tables that appear below-->
  <div class="main-container container">
      
      <div class="row col-xs-12">
        <button onclick="location.href='/customer'" class="col-xs-2">
          Customer
        </button>
        <button onclick="location.href='customers_add'" class="col-xs-2" >
          Add
        </button>
        <button onclick="location.href='/customer_Transaction'" class="col-xs-2">
          Transaction
        </button>
        <button onclick="location.href='/customer_Enquiries'" class="col-xs-2">
          Customers Enquiries
        </button>
        <button onclick="location.href='/bulk'" class="col-xs-2">
          Bulk Transaction
        </button>
        </div>
  </div>
 
  </div>
</div>
 