<div class="fullscreen"> 
<div class="main-container container">
        <div class="nav navbar navbar-default">
    <a href="/"><h1 align="center">Welcome IQPoint Customers Transaction</h1></a>
  </div>
    <div class="col-sm-4 col-sm-offset-4">
    <!-- form container -->
    <div class="form-container">
        <!-- form header -->
        <h1 class="form-header heading-color">Sign in</h1>
        <!-- end of form header -->
        <!-- form content -->
        <form class="form-content"  action="/login" method="POST">
            <fieldset>
                <input type="text" placeholder="username" class="form-input-control" name="username" value="{{username}}" />
                <input type="password" placeholder="Password" class="form-input-control" name="password" value="{{password}}">
                 {{#if message}}
                <p>{{message}}</p>
                {{/if}}
                <input type="submit" value="Sign in" class="form-submit-control" />
            </fieldset>
        </form>
        <hr>

                <p class="col-md-3 col-md-offset-3">Need an account?<p><form class="col-lg-6 fa fa-sign-in" action="/signup" method="GET"><br><br>
                    <button class="btn-lg btn-primary btn-block" type="submit">
                        Sign Up
                    </button>
                </form>
        <!-- end of form-content -->
        <!-- form footer -->
        <div class="form-footer group">
            <div class="social-container fr">
                <a href="#" class="fontawesome-google-plus"></a>
                <a href="#" class="fontawesome-twitter"></a>
                <a href="#" class="fontawesome-facebook"></a>
            </div>
            <div style="clear:both;"></div>
        </div>
        <!-- end of From footer -->
    <div style="clear:both;"></div>
    </div>
    <!-- end of form container -->
</div>
