
<div class="main-container container">
        <div class="nav navbar navbar-default">
    <a href="/"><h1 align="center">Welcome IQPoint Customers Transaction</h1></a>
  </div><br><br>
    <div class="col-sm-4 col-sm-offset-4">

    <form class="col-md-6 col-md-offset-4 vertical-center" action="/login" method="POST">
        <div>
            <h1><span class="col-lg-3 fa fa-sign-in"></span> Login</h1>
            <input type="text" class="form-control" autocomplete="off" name="username" placeholder="Username" required="" autofocus=""><br>
            <input type="password" name="password" class="form-control" placeholder="Password" required=""><br><br>

        {{#if message}}
            <p>{{message}}
        {{/if}}


        </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form><br>

    <hr>

                <p class="col-md-3 col-md-offset-3">Need an account?<p><form class="col-lg-6 fa fa-sign-in" action="/signup" method="GET"><br><br>
                    <button class="btn-lg btn-primary btn-block" type="submit">
                        Sign Up
                    </button>
                </form><br>

</div>