<table class="table" id="customersList">
    <tr>
        <th>Account</th>
        <th>Name</th>
        <th>Balance</th>
    </tr>                          
    {{#customer}}
    <tr>
        <td>{{Account}}</td>
        <td>{{Name}}</td>
        <td>{{Balance}}</td>
    </tr>
    {{/customer}}                
</table>