body {
	background-color: #297A52;
	font-family: "Arial";
	margin: 0px;
	padding: 0px;
}
 .fullscreen_bg {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-size: cover;
   background-position: 50% 50%;
   background-image: url('/static/images/color-splash.jpg');
   background-repeat:repeat;
 }

#container{
	margin: 0 auto;
	width: 80%;
	height: 600px;
	background-color: #297A52;
	margin-top: 50px;
	padding: 15px;
  text-align: center;
}

#add-customer {
	border : 1px solid;
	width: 50%;
	padding: 15px;
}

#add-custTran {
	border : 1px solid;
	width: 50%;
	padding: 15px;
}

input[type=text] {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
  text-align: center;
}

h1 {
	text-align: center;
}

input[type=submit] {
	padding: 13px;
  	border: 2px solid #000;  
    text-align: center;	
};

a.homepage:link, a.homepage:visited {
  padding: 1px 10px 1px 10px;
  color: #fff;
  background: #555;
  border-radius: 3px;
  border: 1px outset rgba(50,50,50,.5);
  font-family: georgia, serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}

a.homepage:hover, a.homepage:focus, a.homepage:active {
  background-color: #666;
}

.userHeader{
    color: #fff;
    display: inline;
    margin-left: 2em;
}

.logoutHead{
    background-color: #fff;
    color: red;
    padding: 2px;
    border-radius: 3px;
    display: inline;
    float: right;
    margin-right: 2em;
    margin-top: 1px;
    margin-bottom: 1px;
}

.form {
    color: #FFFFFF;
    background-color: #CC3333;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.div {
  background-color: #297A52;
}

.nav {
    color: #FFFFFF;
    background-color: #CC3333;
}